<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Merge"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.naver.maps.map.bgn4v95lbl"
                android:value="967yGzVSYqchWzJLldt9mNNaMoYG85eL4nDFuGNf" />
        </activity>
        <activity android:name=".MainActivity2" android:label="MainActivity2" />
        <activity android:name=".Announcement" android:label="Announcement" />
        <activity android:name=".DetailPage" android:label="DetailPage" />
        <activity android:name=".Map_Marker" android:label="Map_Marker" />
        <activity android:name=".notice1" android:label="Announcements" />
        <activity android:name=".notice2" android:label="Announcements2" />
        <activity android:name=".notice3" android:label="Announcements3" />
        <activity android:name=".notice4" android:label="Announcements4" />
        <activity android:name=".notice5" android:label="Announcements5" />
        <activity android:name=".notice6" android:label="Announcements6" />
        <activity android:name=".notice7" android:label="Announcements7" />
        <activity android:name=".notice8" android:label="Announcements8" />

    </application>

</manifest>